<h1> הוספת תחום מדידה :</h1>
<form [formGroup]="MeasurementFieldForm" (submit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tool:</mat-label>
        <mat-select formControlName="toolId">
            <mat-option *ngFor="let tool of tools" [value]="tool.id">{{tool.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Min Value:</mat-label>
        <input matInput type="number" formControlName="minValue">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Max Value:</mat-label>
        <input matInput type="number" formControlName="maxValue">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Uncertainty:</mat-label>
        <input matInput type="number" formControlName="uncertainty">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Measurement Unit:</mat-label>
        <mat-select formControlName="measurement_unit_id">
            <mat-option *ngFor="let measurementUnit of measurementUnits" [value]="measurementUnit.id">{{measurementUnit.symbol}}</mat-option>
        </mat-select>
    </mat-form-field>
        
        
    <button mat-button>submit</button>
</form>