<form [formGroup]="toolForm" (submit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Sub Technology:</mat-label>
        <mat-select formControlName="sub_technology_id">
            <mat-option *ngFor="let subTechnologies of subTechnologies" [value]="subTechnologies.id">{{subTechnologies.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button>submit</button>

    <table>
        <tr>
            <th> Name </th>
            <th> Sub Technology </th>
            <th> Technology </th>
        </tr>
        <tr *ngFor="let tool of tools">
            <td> {{tool.name}} </td>
            <td> {{tool.sub_technology?.name}} </td>
            <td> {{tool.sub_technology?.technology?.name}} </td>
        </tr>
    </table>
</form>