<ul>
    <li>
        <a routerLink="/add_technologies">הוספת טכנולוגיות</a>
    </li>
    <li>
        <a routerLink="/add_sub_technology">הוספת תתי טכנולוגיות</a>
    </li>
    <li>
        <a routerLink="/add_measurement_field">הוספת תחומי מדידה</a>
    </li>
    <li>
        <a routerLink="/add_measurement_tool">הוספת גדלי כלי</a>
    </li>
    <li>
        <a routerLink="/add_measurement_unit">הוספת יחידות מדידה</a>
    </li>
    <li>
        <a routerLink="/add_tool">הוספת כלי מדידה</a>
    </li>
    <li>
        <a routerLink="/add_tools_final_definition">הגדרה סופית לכלי חדש שנכנס למערכת</a>
    </li>
</ul>