<form [formGroup]="toolsFinalDefinitionForm" (submit)="onSubmit()">
    <label>
        <span>Tool:</span>
        <select formControlName="toolId">
            <option *ngFor="let tool of tools" [value]="tool.id">{{tool.name}}</option>
        </select>
    </label>

    <label>
        <span>Measurement Tool:</span>
        <select formControlName="measurementToolId">
            <option *ngFor="let measurementTool of measurementTools" [value]="measurementTool.id">{{measurementTool.name}}</option>
        </select>
    </label>

    <label>
        <span>Resolution:</span>
        <select formControlName="resolution">
            <option value="1">0.2</option>
            <option value="1">0.5</option>
            <option value="1">0.7</option>
        </select>
    </label>

    <label>
        <span>ISO:</span>
        <input type="checkbox">
    </label>
    <button>submit</button>
</form>