<form [formGroup]="subTechnologyForm" (submit)="onSubmit()">
    <!-- <label>
        <span>Name:</span>
        <input type="text" formControlName="name">
    </label>
    <label>
        <span>Code:</span>
        <input type="text" formControlName="m_code">
    </label>
    <label>
        <span>Technology:</span>
        <select formControlName="technology_id">
            <option *ngFor="let technology of technologies" [value]="technology.id">{{technology.name}}</option>
        </select>
    </label> -->

    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Code:</mat-label>
        <input matInput type="text" formControlName="m_code">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Technology:</mat-label>
        <mat-select formControlName="technology_id">
            <mat-option *ngFor="let technology of technologies" [value]="technology.id">{{technology.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button>submit</button>

    <table>
        <tr>
            <th> Name </th>
            <th> Code </th>
            <th> Technology </th>
        </tr>
        <tr *ngFor="let subTechnology of subTechnologies">
            <td> {{subTechnology.name}} </td>
            <td> {{subTechnology.m_code}} </td>
            <td> {{subTechnology.technology?.name}} </td>
        </tr>
    </table>
</form>